<Virtualize Items="@TodoItemModels" Context="todoItem">
	<li class="list-group-item item @StatusModel.GetBackgroundColor(todoItem.StatusName)"
		draggable="true"
		@ondragstart="() => HandleDragStart(todoItem)">
		<TodoItem @key="todoItem.Id" TodoItemModel="todoItem" />
	</li>
</Virtualize>

@code {
	[CascadingParameter]
	private TodoItemContainer Container { get; set; }

	[Parameter]
	public ICollection<TodoItemModel> TodoItemModels { get; set; } = Array.Empty<TodoItemModel>();

	private void HandleDragStart(TodoItemModel todoItemModel) => Container.DraggedTodoItem = todoItemModel;
}
