@function rgba-white($alpha) {
    @return rgba(255, 255, 255, $alpha);
}

$secondary-color: rgba-white(0.4);

@mixin border-on-hover {
    border: 1px solid rgba-white(0.6);
}

@mixin custom-btn($color) {
    all: unset;
    cursor: pointer;
    color: $color;

    &:focus-visible {
        outline: revert;
    }
}

.todo-item > *:not(:last-child) {
    margin-bottom: 5px;
}

img {
    max-width: 400px;
    width: 100%;
}

.name-form {
    ::deep form {
        &:hover, &.active {
            @include border-on-hover;
        }

        &:focus-within {
            box-shadow: 0 0 0 0.1rem rgba-white(0.3);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        input {
            color: white;
        }

        &.active input {
            color: #495057;
        }

        button {
            font-size: 0.7rem;
        }
    }
}

.status {
    border: 1px solid rgba-white(0.2);
    border-radius: 1rem;
    padding: 1px 10px;
    color: #fff;
    font-size: 0.9rem;
    margin-left: auto;
}

.days-ago {
    color: $secondary-color;
}

.delete {
    @include custom-btn(rgba-white(0.6));
}

.reset {
    @include custom-btn($secondary-color);
    margin-right: 10px;
    font-size: 0.7rem;
}

.category {
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: border-color .1s ease-in;
    width: min-content;
    align-self: center;

    &:hover {
        @include border-on-hover;
        transition: border-color .15s ease-out;
    }
}

::deep .select2-selection__rendered {
    color: #fff;
}

::deep .select2-selection__rendered[id*="placeholder"] {
    color: $secondary-color;
}

::deep .select2-container {
    min-width: 95px;
}