<Virtualize Items="@TodoItemModels" Context="todoItem">
	<li class="list-group-item item @StatusModel.GetBackgroundColor(todoItem.StatusName)" 
		id="draggable-@todoItem.Id"
		@ondragend="HandleDragEnd">
		<TodoItem @key="todoItem.Id" TodoItemModel="todoItem" />
	</li>
</Virtualize>

@code {
	[CascadingParameter]
	private TodoItemContainer Container { get; set; }

	[Parameter]
	public ICollection<TodoItemModel> TodoItemModels { get; set; } = Array.Empty<TodoItemModel>();

	private void HandleDragEnd() => Container.DraggedTodoItem = null;
}
