@inject IApiInvoker ApiInvoker

<Virtualize Items="@TodoItemModels" Context="todoItem">
    <li class="list-group-item">
        <TodoItem @key="todoItem.Id" TodoItemModel="todoItem" />
    </li>
</Virtualize>

@code {
    [Parameter]
    public ICollection<TodoItemModel> TodoItemModels { get; set; } = Array.Empty<TodoItemModel>();
}
