@attribute [Authorize]

@inject IStringLocalizer<General> Localizer

<div class="text-right mb-3">
	<AddButton Hint="@Localizer["AddProject"]"
			   OnClick="@Add"/>
</div>

<div class="card-columns">
	<Virtualize Items="@State.Projects" Context="project">
		<ProjectItem @key="project.Id"
					 ProjectModel="@project"
					 OnDeleteCallback="Delete" />
	</Virtualize>
</div>
