@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]), .valid.modified:not([type=checkbox]):focus {
    border-color: rgb(38, 176, 80);
}

    .valid.modified:not([type=checkbox]):focus {
        box-shadow: 0 0 0 0.2rem rgba(38, 176, 80, 0.25);
    }

.invalid, .invalid:focus {
    border-color: red;
}

    .invalid:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
    }

.validation-message {
    color: red;
}

.oi {
    top: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width:990px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width:991px) {
    .card-columns {
        column-count: 2;
    }
}

.overlay {
    position: absolute;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: overlayAppear .25s
}

.fail {
    background: #ffcccc;
}

.loading {
    background: rgba(0, 0, 0, .2);
}

@keyframes overlayAppear {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    width: 4px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    background: #A9A9A9;
    border-radius: .25rem;
}

    .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }

.select2-results {
    font-size: 0.8rem;
}

.select2-dropdown {
    background: rgba(255, 255, 255, 0.8);
}
