@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    color-scheme: light dark;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    color: var(--color);
    background-color: var(--main-background);
    transition: color 0.3s ease, background-color 0.3s ease;
}

a, a:hover, .btn-link, .btn-link:hover {
    color: var(--link-color);
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]), .valid.modified:not([type=checkbox]):focus {
    border-color: rgb(var(--success-rgb));
}

    .valid.modified:not([type=checkbox]):focus {
        box-shadow: 0 0 0 0.2rem rgba(var(--success-rgb), 0.25);
    }

.invalid, .invalid:focus {
    border-color: rgb(var(--danger-rgb));
}

    .invalid:focus {
        box-shadow: 0 0 0 0.2rem rgba(var(--danger-rgb), 0.25);
    }

.validation-message {
    color: rgb(var(--danger-rgb));
}

.oi {
    top: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: #000;
}

    #blazor-error-ui .reload {
        color: #007bff;
    }

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--autocomplete-input-background) inset;
    -webkit-text-fill-color: var(--color);
}

@media (max-width: 991px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width:1400px) {
    .card-columns {
        column-count: 3;
    }
}

.card {
    border-color: var(--border-color);
    background-color: transparent;
    transition: all .1s ease-in;
}

.card-header {
    background: var(--header-background);
}

.card-body {
    background: var(--card-background);
}

.form-control, .form-control:focus, button {
    background-color: var(--input-background);
    color: var(--color);
}

.standart-input, .standart-input:focus {
    border: 1px solid var(--input-border-color);
    transition: all .1s ease-in;
}

    .standart-input:focus {
        box-shadow: 0 0 0 0.2rem var(--input-box-shadow);
        transition: all .15s ease-out;
    }

.bg-planned {
    color: #fff;
    background: var(--planned-color);
}

.bg-ongoing {
    color: #fff;
    background: var(--ongoing-color);
}

.bg-done {
    color: #fff;
    background: var(--done-color);
}

.dialog {
    background: var(--main-background);
    color: var(--color);
}

.custom-primary-btn, .custom-primary-btn:hover {
    color: var(--hovered-btn-text);
    background-color: rgb(var(--primary-btn-rgb));
}

.custom-primary-outline-btn {
    color: rgb(var(--primary-btn-rgb));
    border-color: rgb(var(--primary-btn-rgb));
}

    .custom-primary-outline-btn:hover, .custom-primary-outline-btn:active, .custom-primary-outline-btn.active {
        color: var(--hovered-btn-text);
        background-color: rgb(var(--primary-btn-rgb));
    }

    .custom-primary-btn:focus, .custom-primary-outline-btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(var(--primary-btn-rgb), 50%);
    }

.custom-danger-outline-btn {
    color: rgb(var(--danger-rgb));
    border-color: rgb(var(--danger-rgb));
}

    .custom-danger-outline-btn:hover, .custom-danger-outline-btn:active, .custom-danger-outline-btn.active {
        color: var(--hovered-btn-text);
        background-color: rgb(var(--danger-rgb));
    }

    .custom-danger-outline-btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(var(--danger-rgb), 50%);
    }


.custom-secondary-outline-btn {
    color: rgb(var(--secondary-btn-rgb));
    border-color: rgb(var(--secondary-btn-rgb));
}

    .custom-secondary-outline-btn:hover, .custom-secondary-outline-btn:active, .custom-secondary-outline-btn.active {
        color: var(--hovered-btn-text);
        background-color: rgb(var(--secondary-btn-rgb));
    }

    .custom-secondary-outline-btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(var(--secondary-btn-rgb), 50%);
    }

.custom-success-btn, .custom-success-btn:hover {
    color: var(--hovered-btn-text);
    background-color: rgb(var(--success-rgb));
}

    .custom-success-btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(var(--success-rgb), 50%);
    }

.item {
    animation: itemAppear .25s;
}

@keyframes itemAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: overlayAppear .25s
}

.fail {
    background: #ffcccc;
}

.loading {
    background: rgba(0, 0, 0, .2);
}

@keyframes overlayAppear {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.blazored-custom-modal {
    display: flex;
    z-index: 102;
    flex-direction: column;
    background-color: var(--dialog-background);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: .25rem;
}

    .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }

.select2-results {
    font-size: 0.8rem;
}

.select2-dropdown {
    background: var(--picker-background);
    animation: dropdownAppear .25s;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
}

@keyframes dropdownAppear {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.datepicker-dropdown {
    background-color: var(--picker-background);
    color: var(--color);
}

.datepicker .day:hover, .datepicker .month:hover, .datepicker .year:hover, .datepicker .decade:hover,
.datepicker .century:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker-switch:hover {
    color: #000;
}
