@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    color-scheme: light dark;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    color: var(--color);
    background-color: var(--main-background);
    transition: color 0.3s ease, background-color 0.3s ease;
}

a, .btn-link {
    color: var(--link-color);
}

    .btn-link:hover {
        color: var(--link-hover-color);
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]), .valid.modified:not([type=checkbox]):focus {
    border-color: rgb(38, 176, 80);
}

    .valid.modified:not([type=checkbox]):focus {
        box-shadow: 0 0 0 0.2rem rgba(38, 176, 80, 0.25);
    }

.invalid, .invalid:focus {
    border-color: red;
}

    .invalid:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
    }

.validation-message {
    color: red;
}

.oi {
    top: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 991px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width:1400px) {
    .card-columns {
        column-count: 3;
    }
}

.form-control, .form-control:focus, button {
    background-color: var(--input-background);
    color: var(--color);
}

.bg-planned {
    color: #fff;
    background: #404040;
}

.bg-ongoing {
    color: #fff;
    background: #a08329;
}

.bg-done {
    color: #fff;
    background: #34712c;
}

.dialog {
    background: var(--main-background);
    color: var(--color);
}

.custom-primary-btn {
    color: var(--hovered-btn-color);
    background-color: var(--primary-btn-color);
}

.custom-primary-outline-btn {
    color: var(--primary-btn-color);
    border-color: var(--primary-btn-color);
}

    .custom-primary-outline-btn:hover, .custom-primary-outline-btn:active, .custom-primary-outline-btn.active {
        color: var(--hovered-btn-color);
        background-color: var(--primary-btn-color);
    }

    .custom-primary-btn:focus, .custom-primary-outline-btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(186, 222, 253, 50%);
    }

.custom-danger-outline-btn {
    color: var(--danger-btn-color);
    border-color: var(--danger-btn-color);
}

    .custom-danger-outline-btn:hover, .custom-danger-outline-btn:active, .custom-danger-outline-btn.active {
        color: var(--hovered-btn-color);
        background-color: var(--danger-btn-color);
    }

    .custom-danger-outline-btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(241, 158, 166, 50%);
    }


.custom-secondary-outline-btn {
    color: var(--secondary-btn-color);
    border-color: var(--secondary-btn-color);
}

    .custom-secondary-outline-btn:hover, .custom-secondary-outline-btn:active, .custom-secondary-outline-btn.active {
        color: var(--hovered-btn-color);
        background-color: var(--secondary-btn-color);
    }

   .custom-secondary-outline-btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(210, 213, 216, 50%);
    }

.item {
    animation: itemAppear .25s;
}

@keyframes itemAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: overlayAppear .25s
}

.fail {
    background: #ffcccc;
}

.loading {
    background: rgba(0, 0, 0, .2);
}

@keyframes overlayAppear {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.blazored-custom-modal {
    display: flex;
    z-index: 102;
    flex-direction: column;
    background-color: var(--dialog-background);
    border-radius: 4px;
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: .25rem;
}

    .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
        background: #808080;
    }

.select2-results {
    font-size: 0.8rem;
}

.select2-dropdown {
    background: var(--select2-dropdown-background);
    animation: dropdownAppear .25s;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
}

@keyframes dropdownAppear {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.datepicker-dropdown {
    background-color: var(--select2-dropdown-background);
    color: var(--color);
}

.datepicker .day:hover, .datepicker .month:hover, .datepicker .year:hover, .datepicker .decade:hover,
.datepicker .century:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker-switch:hover {
    color: #000;
}
