:root {
    --color: rgb(5, 5, 5);
    --main-background: rgb(255, 255, 255);
    --border-color: rgba(0, 0, 0, .125);
    --header-background: rgba(0, 0, 0, .03);
    --dialog-background: rgb(255, 255, 255);
    --sidebar-background: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    --card-background: rgb(250 250 250);
    --input-background: rgb(255, 255, 255);
    --scrollbar-color: rgb(169, 169, 169);
    --primary-btn-color: rgb(0, 123, 255);
    --danger-btn-color: rgb(220, 53, 69);
    --secondary-btn-color: rgb(108, 117, 125);
    --hovered-btn-color: rgb(255, 255, 255);
    --link-color: rgb(3, 102, 214);
    --link-hover-color: rgb(0, 86, 179);
    --input-border-color: #ced4da;
    --input-box-shadow: rgba(0, 123, 255, 0.25);
    --select2-dropdown-background: rgba(255, 255, 255, 0.8);
}
