@using Blazored.Modal.Services

@inject IStringLocalizer<General> Localizer

<div>
    <p>@Localizer["DeleteConfirmation"]</p>

    <button @onclick="Close" class="btn custom-primary-btn">@Localizer["Submit"]</button>
    <button @onclick="Cancel" class="btn custom-secondary-outline-btn">@Localizer["Cancel"]</button>
</div>

@code {
    [CascadingParameter]
    private BlazoredModalInstance BlazoredModal { get; set; }

    private async Task Close() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    private async Task Cancel() => await BlazoredModal.CancelAsync();
}