@using Blazored.Modal.Services

@inject IStringLocalizer<General> Localizer

<div>
    <p>@Localizer["DeleteConfirmation"]</p>

    <button @onclick="Close" class="btn btn-primary">Submit</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {

    [CascadingParameter]
    private BlazoredModalInstance BlazoredModal { get; set; }

    private async Task Close() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    private async Task Cancel() => await BlazoredModal.CancelAsync();
}