@using System.Globalization;

@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<select class="form-control m-auto w-75"@bind="Culture">
    @foreach (var culture in cultures)
    {
        <option value="@culture">@culture.DisplayName</option>
    }
</select>

@code {
    private CultureInfo[] cultures = new[]
    {
        new CultureInfo("en"),
        new CultureInfo("uk")
    };

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                LocalStorage.SetItemAsStringAsync("BlazorCulture", value.Name);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}
