@using System.Globalization
@using Microsoft.Extensions.Configuration

@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IConfiguration Configuration

<select class="form-control" @bind="Culture">
    @foreach (var culture in cultures)
    {
        <option value="@culture.Key">@culture.Value</option>
    }
</select>

@code {
    private Dictionary<string, string> cultures;

    protected override void OnInitialized()
    {
        cultures = Configuration.GetSection("Cultures")
                                .GetChildren()
                                .ToDictionary(x => x.Key, x => x.Value);
    }

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                LocalStorage.SetItemAsStringAsync("BlazorCulture", value.Name);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}
