<div class="fail text-danger">
	@ErrorMessage
	<button type="button" class="close" @onclick="CloseError">
		<i class="oi oi-x"></i>
	</button>
</div>

@code {
	[Parameter]
	public string ErrorMessage { get; set; }
	[Parameter]
	public EventCallback<string> ErrorMessageChanged { get; set; }

	private async Task CloseError()
	{
		await ErrorMessageChanged.InvokeAsync("");
	}
}
