@using Blazored.Modal.Services

@inject IStringLocalizer<General> Localizer

<div>
    <p>@Localizer["LogoutQuestion"]</p>

    <button @onclick="No" class="btn custom-secondary-btn">@Localizer["No"]</button>
    <button @onclick="Yes" class="btn custom-primary-outline-btn">@Localizer["Yes"]</button>
</div>

@code {
    [CascadingParameter]
    private BlazoredModalInstance BlazoredModal { get; set; }

    private async Task Yes() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    private async Task No() => await BlazoredModal.CloseAsync(ModalResult.Ok(false));
}