@using ToDoList.BlazorClient.Services

@inject NavigationManager NavManager
@inject IAuthenticationService AuthService
@inject IStringLocalizer<General> Localizer

<button class="btn btn-link" @onclick="LogOut"><span class="oi oi-account-logout"></span> @Localizer["Log Out"]</button>

@code {
    private async Task LogOut()
    {
        await AuthService.LogOutAsync();
        NavManager.NavigateTo("/");
    }
}
