@inherits LayoutComponentBase

@using System.Security.Claims

@inject IStringLocalizer<General> Localizer
@inject NavigationManager NavManager

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">

		<div class="top-row px-4 auth position-relative">
			<AuthorizeView>
				<Authorized>
					@Localizer["Welcome"], @context.User.FindFirst(ClaimTypes.Name).Value!
					<Logout />
				</Authorized>
				<NotAuthorized>
					@if (!inRegisterPage)
					{
						<Login />
						<a class="btn btn-link" href="register">@Localizer["Register"]</a>
					}
				</NotAuthorized>
			</AuthorizeView>
		</div>

		<div class="content px-4">
			@Body
		</div>
	</div>
</div>

@code {
	private bool inRegisterPage;

    protected override void OnInitialized()
	{
		inRegisterPage = false;
		NavManager.LocationChanged += CheckLocation;
	}

	private void CheckLocation(object sender, LocationChangedEventArgs args)
	{
		if (args.Location.Contains("register", StringComparison.OrdinalIgnoreCase))
			inRegisterPage = true;
		else
			inRegisterPage = false;

		StateHasChanged();
	}
}
