@inherits LayoutComponentBase

@using System.Security.Claims
@using ToDoList.BlazorClient.Pages.Authentication

@inject IStringLocalizer<MainLayout> Localizer

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @Localizer["Welcome"], @context.User.FindFirst(ClaimTypes.Name).Value!
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout"></span> @Localizer["LogOut"]
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <Login />
                    <a class="btn btn-primary" href="register">@Localizer["Register"]</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
