@inject IStringLocalizer<General> Localizer

<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">ToDoList.BlazorClient</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
</div>

<div class="@NavMenuCssClass">
	<ul class="nav flex-column" @onclick="ToggleNavMenu">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> @Localizer["Home"]
			</NavLink>
		</li>
		<AuthorizeView>
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="todo">
					<span class="oi oi-list-rich" aria-hidden="true"></span> Todo
				</NavLink>
			</li>
		</AuthorizeView>
	</ul>

	<div class="p-3">
		<CultureSelector />
	</div>

	<div class="text-center p-3">
		<dark-mode-toggle id="dark-mode-toggle-2" mode="dark" appearance="toggle"></dark-mode-toggle>
	</div>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
