@inject IStringLocalizer<General> Localizer

@if (StatusName is "Planned")
{
    <a href="javascript:void(0)"
       class="badge badge-secondary ml-2 mr-1">
        @Localizer["PlannedStatus"]
    </a>
}
else if (StatusName is "Ongoing")
{
    <a href="javascript:void(0)"
       class="badge badge-warning ml-2 mr-1">
        @Localizer["OngoingStatus"]
    </a>
}
else if (StatusName is "Done")
{
    <a href="javascript:void(0)"
       class="badge badge-success ml-2 mr-1">
        @Localizer["DoneStatus"]
    </a>
}

@if (!string.IsNullOrWhiteSpace(CategoryName))
{
    <a href="javasript:void(0)"
       class="badge badge-pill badge-info">
        #@CategoryName
    </a>
}

@code {
    [Parameter]
    public string StatusName { get; set; }

    [Parameter]
    public string CategoryName { get; set; }

    [Parameter]
    public EventCallback<FilterTodoItemsArgs> OnStatusCallback { get; set; }

    [Parameter]
    public EventCallback<FilterTodoItemsArgs> OnCategoryCallback { get; set; }
}
