::deep form {
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-right: 5px;

    &:hover, &.active {
        border-color: #ced4da;
    }

    &:focus-within {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    &.active input {
        background: #fff;
    }
}

::deep input {
    flex-grow: 2;
    border: none;

    &:not(:focus) {
        background-color: transparent;
    }

    &:focus {
        border: none;
        box-shadow: none;
    }

    &.valid.modified {
        outline: none;
    }
}
