@typeparam TItem

<div>
	<EditForm EditContext="@editContext">
		<DataAnnotationsValidator />

		<CustomInputText @bind-Value="Item.Name"
						 @onblur="HandleSubmit"
						 id="@GetInputId(Item)"
						 class="form-control" />

		<button type="button"
				class="border-0 btn @ResetButtonClass"
				onmousedown="event.preventDefault()"
				@onclick="Reset">
			<i class="oi oi-x"></i>
		</button>
	</EditForm>
</div>