::deep form {
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-right: 5px;
    transition: all .1s ease-in;

    &:hover, &:focus-within {
        border-color: var(--input-border-color);
        transition: all .15s ease-out;
    }

    &:focus-within {
        box-shadow: 0 0 0 0.2rem var(--input-box-shadow);

        button {
            visibility: visible;
            transition: all .15s ease-out;
        }
    }

    button {
        visibility: hidden;
        transition: all .1s ease-in;
    }
}

::deep input {
    flex-grow: 2;

    &:not(:focus) {
        background-color: transparent;
    }

    &, &:focus, &.valid.modified:focus, &.invalid:focus {
        border: none;
        box-shadow: none;
    }
}
