@inject IStringLocalizer<General> Localizer

@{
    ViewData["Title"] = Localizer["Home"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Greetings"]</h1>
    <p>@Localizer["WelcomingInfo"]</p>
</div>
