@inject NavigationManager NavManager
@inject IApiInvoker ApiInvoker

<EditForm Model="user" OnValidSubmit="LogIn">
    <div class="form-row">
        <div class="col-auto">
            <label for="username" class="sr-only">Username</label>
            <InputText id="username" class="form-control" @bind-Value="user.Name" placeholder="Username" />
        </div>

        <div class="col-auto">
            <label for="password" class="sr-only">Password</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="user.Password" placeholder="Password" />
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-success">Log In</button>
        </div>
    </div>
</EditForm>

@code {
    private UserModel user = new();

    private async Task LogIn()
    {
        _ = await ApiInvoker.AuthenticateUserAsync("Authentication/Login", user);
        NavManager.NavigateTo("/");
    }
}
