<button class="border-0 btn custom-primary-outline-btn" 
		title="@Hint"
		@onclick="OnClick">
	<i class="oi oi-plus"></i>
</button>

@code {
	[Parameter]
	public string Hint { get; set; }

	[Parameter]
	public EventCallback OnClick { get; set; }
}
