@inject IApiInvoker ApiInvoker

<div class="card-columns">
    @foreach (var checklist in checklistModels)
    {
        <ChecklistItem @key="checklist.Id" checklistModel="checklist"
                       OnDeleteCallback="DeleteChecklist" />
    }
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter]
    private IModalService Modal { get; set; }

    private IEnumerable<ChecklistModel> checklistModels = Enumerable.Empty<ChecklistModel>();

    protected override async Task OnInitializedAsync() =>
        checklistModels = await ApiInvoker.GetItemsAsync<ChecklistModel>("Checklists");

    private async Task DeleteChecklist(int checklistId)
    {
        var result = await Modal.Show<Confirm>("Confirmation").Result;

        if (result.Cancelled)
            return;

        await ApiInvoker.DeleteItemAsync("Checklists/", checklistId);
        checklistModels = await ApiInvoker.GetItemsAsync<ChecklistModel>("Checklists");
    }
}
