@inject IStringLocalizer<General> Localizer

<div class="d-flex align-items-center justify-content-between mb-2">
	<Filter />

	<button class="border-0 btn custom-primary-outline-btn" 
			title="@Localizer["AddChecklist"]"
			@onclick="Add">
		<i class="oi oi-plus"></i>
	</button>
</div>

<div class="card-columns">
	<Virtualize Items="@checklistModels" Context="checklist">
		<ChecklistItem @key="checklist.Id"
					   ChecklistModel="@checklist"
					   OnDeleteCallback="@Delete" />
	</Virtualize>
</div>
