@import '../../Shared SCSS/main.scss';

.card {
    border-color: var(--border-color);
    background-color: transparent;
    transition: all .1s ease-in;
}

.card-header {
    background: var(--header-background);
}

.card-body {
    padding: 20px 10px 15px 15px;
    background: var(--card-background);
}

.nav-tabs {
    border: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    grid-gap: 12px;
}

.collapse-button {
    cursor: pointer;
    margin-right: 5px;
}

.scrollable {
    @include custom-scrollbar;
    max-height: 600px;
    padding: 5px;
    overflow: auto;
}

.yes-drop, .no-drop {
    opacity: 0.4;
    transition: all .15s ease-out;
}

.no-drop {
    border-color: RGB(var(--danger-rgb));
    box-shadow: 0 0 0 0.2rem rgba(var(--danger-rgb), 50%);
}

.yes-drop {
    border-color: RGB(var(--success-rgb));
    box-shadow: 0 0 0 0.2rem rgba(var(--success-rgb), 50%);
}
