@inject IStringLocalizer<General> Localizer

<div class="d-flex justify-content-end mb-2">
	<button class="border-0 btn btn-outline-primary" 
			title="@Localizer["AddChecklist"]"
			@onclick="Add">
		<i class="oi oi-plus"></i>
	</button>
</div>

<div class="card-columns">
	<Virtualize Items="@checklistModels" Context="checklist">
		<ChecklistItem @key="checklist.Id"
					   ChecklistModel="@checklist"
					   OnDeleteCallback="@Delete" />
	</Virtualize>
</div>
