@page "/"

@inject IStringLocalizer<General> Localizer

<AuthorizeView>
	<Authorized>
		<Checklists />
	</Authorized>
	<NotAuthorized>
		<h1>@Localizer["Greetings"]</h1>
		@Localizer["WelcomingInfo"]
	</NotAuthorized>
</AuthorizeView>