 @page "/"

@using ToDoList.SharedClientLibrary
@using ToDoList.BlazorClient.Components.Projects

@inject IStringLocalizer<General> Localizer


<AuthorizeView>
	<Authorized>
		<Projects />
	</Authorized>
	<NotAuthorized>
		<h1>@Localizer["Greetings"]</h1>
		@Localizer["WelcomingInfo"]
	</NotAuthorized>
</AuthorizeView>
